%h1 Starry#index
%i
  Because everyone has favorites.
%br/
-if not @user
  %a(href="/auth/twitter/")
    Login with Twitter
-else
  %a(href="/starry/import/favorites")
    Import Favorites
  %a(href="/sessions/destroy")
    Logout (@#{@user.username})
