%h1 Starry#index
%div
  %i
    Because everyone has favorites.
%ul
-if not @user
  %li
    %a(href="/auth/twitter/")
      Login with Twitter
-else
  %li
    %a(href="favorites/import")
      Import Favorites
  %li
    %a(href="favorites/update")
      Update Favorites
  %li
    %a(href="/sessions/destroy")
      Logout (@#{@user.username})
