.category
  %h1
    = link_to('Uncategorized Favorites', {controller: 'starry', action:'uncategorized_faves'})

  .tweets.index.category
    - @faves_without_categories.each do |fave|
      = render :partial => 'layouts/fave', :object => fave
- @categories.each do |category|
  .category
    %h1
      =link_to(category[:name],  "/favorites/c/#{category[:name]}")
  .tweets.category
    - category[:tweets].each do |fave|
      = render :partial => 'layouts/fave', :object => fave
