%h1 Listing favorite_tweets

%table
  %tr
    %th
    %th
    %th

  - @favorite_tweets.each do |favorite_tweet|
    %tr
      %td= link_to 'Show', favorite_tweet
      %td= link_to 'Edit', edit_favorite_tweet_path(favorite_tweet)
      %td= link_to 'Destroy', favorite_tweet, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Favorite tweet', new_favorite_tweet_path
